.japan-container {
    width: 100%;
    height: auto;
    .japan {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100vh;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .japan-bg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 25%;
            background-position: 100% 100%;
            background-size: 70%;
            background-repeat: no-repeat;
            z-index: -1;
            opacity: 0.4;
        }

        .japan-content {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 10vh;
            padding: 45px 25px;
            padding-left: 0;
            margin-left: 5%;
            width: 35vw;
            transform: translateX(0px);
            opacity: 1;
            transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-delay: 0.45s;
            // background-color: rgba(73, 21, 2, 0.3);
        }
    }

    .japanese-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90vw;

        .japanese-info {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            transform: translateY(0) translateX(0);
            transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            margin-left: 4%;

            // [data-inviewanimation].infoItem {
            //     // transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            //     opacity: 0;
            //     transform: translateY(30px);
            //     height: 0;
            // }
            .info-item {
                width: calc(100% / 3 - 2vw);
                margin: 4% 0%;
                padding: 1%;
                padding-bottom: 2%;
                margin-bottom: 0%;
                position: relative;
                min-height: 250px;
                transform: translateY(0) translateX(0);
                opacity: 1;
                transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                &:nth-child(1) {
                    transition-delay: 1s;
                    &::after {
                        content: "日本";
                    }
                }
                &:nth-child(2) {
                    transition-delay: 1.45s;

                    &::after {
                        content: "は";
                    }
                }
                &:nth-child(3) {
                    transition-delay: 1.9s;
                    &::after {
                        content: "最高";
                    }
                }

                &:hover {
                    // cursor: pointer;
                    &::after {
                        width: 100%;
                        height: 20%;
                        opacity: 1;
                        transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }
                }

                &::after {
                    position: absolute;
                    height: 0%;
                    width: 0%;
                    bottom: 0;
                    left: 45%;
                    opacity: 0;
                    color: #ffb7c5;
                    color: #fefcd7;
                    font-size: 1.5rem;
                    font-weight: bolder;
                    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }
            }
        }
    }
}
