.profile-container {
    height: 100%;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(-70deg, #313e46, #19293a, #28343b 100.71%);
    background: linear-gradient(-70deg, #0a0d0f, #07121d, #0a0d0f 100.71%);
    &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        z-index: 0;
        content: "";
        background-color: #33333338;
        background-color: #00000000;
      }

    .front-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        right: 0%;
        opacity: 0.8;
        height: 100%;
        width: 80%;
        -webkit-animation: rightFadeEffect 1s;
        animation: rightFadeEffect 1s;
    }

    .container-about {
        width: 35vw;
        height: 100vh;
        margin: 0 auto;
        margin-left: 15%;
        z-index: 2;
        position: relative;
        h2 {
            background-color: #fefcd7;
            color: #07121C;
            width: 250px;
            height: 30px;
            padding: 10px;
            text-align: center;
            -webkit-animation: leftFadeEffect 1s;
            animation: leftFadeEffect 1s;
        }

        .pitch {
            p {
                line-height: 2rem;
                -webkit-animation: leftFadeEffect 1s;
                animation: leftFadeEffect 1s;
            }
        }
    }
}