.sakura-container {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -5%;
    bottom: 0;
    z-index: -1;


    @for $i from 1 through 80 {
        .sakura-leaf:nth-of-type(#{$i})  {
            background: #ffb7c5;
            position: absolute;
            top: 0;
            width: 8px;
            height: 10px;
            border-radius: 10px 0;
            margin: 1%;
            opacity: 0;
            z-index: -1;
            -webkit-animation: glow 12s ease-in;
            -moz-animation: glow 12s ease-in;
            animation: glow 12s ease-in;
            animation-delay:$i * 0.45s ;
            transform: translateX($i + 100px) rotate($i * 3 + 100px);
          }
      }
      .sakura-leaf:nth-child(4n-7) {  
        filter: blur(1px);
    }
      .sakura-leaf:nth-child(3n-7) {  
        background: rgb(212,152,163);
    }
    
    }


    @-webkit-keyframes glow {
        from {
            box-shadow: 0 0 10px #fff, 0 0 20px  #ffb7c5;
            top: 0;
            opacity: 1;
        }
        to {
            box-shadow: 0 0 20px #fff, 0 0 30px #ffb7c5 ;
            top: 100%;
            transform: translateX(-400px) rotate(180deg);
        }
    }
    @keyframes glow {
        from {
            box-shadow: 0 0 10px #fff, 0 0 20px  #ffb7c5;
            top: 0;
            opacity: 1;
        }
        to {
            box-shadow: 0 0 20px #fff, 0 0 30px #ffb7c5 ;
            top: 100%;
            transform: translateX(-400px) rotate(180deg);
        }
    }