h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fefcd7;
    z-index: 10;
}

h1 {
    color: #fefcd7;
    font-family: "Rock Salt", cursive;
    font-size: 60px;
    margin: 0;
    
}

p {
    z-index: 10;
    font-size: 18px;
    line-height: 2rem;
    text-align: left;
    color: #fefcd7;
    
}

a {
    z-index: 20;
    text-decoration: none;
    color: #fefcd7;
}
